{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container-fluid hero">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-auto">
                <h2 class="logo-font text-white">All products you need
                    <br>
                    to take a good care of your skin</h2>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Shop Here</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row pb-2 pt-3">
        <div class="col-md-6 text-center order-1 order-md-1">
            <div class="row justify-content-center">
                <div class="col-11">
                    <h3 class="text-center pb-3"><i class="fas fa-spa" style="color: #e55a8a;"></i> Our motto and
                        philosophy</h3>
                    <h4>You don't need to do or spent much, but only use suitable products and stay consistent </h4>
                    <hr style="height:2px;border-width:0;color:#e55a8a;background-color: #e55a8a">
                    <p>
                        Discover the beauty of your skin by simple treatment routines. Our products are recommended by
                        dermatologists and cosmetic formulators known all around the world. All of them simply agree,
                        that for healthy and glowing-looking skin, without any bigger issues, you just have to follow
                        simple routines, and use adequate products without harm and irritated ingredients.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-11">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}