{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container-fluid hero">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-auto">
                <h2 class="logo-font text-white">All products you need
                    <br>
                    to take a good care of your skin</h2>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Shop Here</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid pt-5 pb-5">
    <div class="row pb-2 pt-3">
        <div class="col-md-6 text-center order-1 order-md-1">
            <div class="row justify-content-center">
                <div class="col-11">
                    <h3 class="text-center pb-3"><i class="fas fa-spa" style="color: #868dec;"></i> Our motto and
                        philosophy</h3>
                    <h4>You don't need to do or spent much, but only use suitable products and stay consistent </h4>
                    <hr style="height:2px;border-width:0;color:#868dec;background-color: #868dec">
                    <p>
                        Discover the beauty of your skin by simple treatment routines. Our products are recommended by
                        dermatologists and cosmetic formulators known all around the world. All of them simply agree,
                        that for healthy and glowing-looking skin, without any bigger issues, you just have to follow
                        simple routines, and use adequate products without harm and irritated ingredients.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-11">
                    <img src="{{ MEDIA_URL }}media/serum.jpg" alt="Serum spilled on the mirror">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid pt-5 pb-5">
    <div class="row pb-2 pt-3">
        <div class="col-md-6 text-center order-1 order-md-1">
            <div class="row justify-content-center">
                <div class="col-11">
                    <h3 class="text-center pb-3"><i class="fas fa-seedling" style="color: #868dec;"></i> What's
                        important on the way to keeping your skin healthy and balanced? We see this as a bigger picture:
                    </h3>
                    <hr style="height:2px;border-width:0;color:#868dec;background-color: #868dec">
                    <ul>
                        <li class="list-inline-item"><i class="fas fa-seedling" style="color: #868dec;"></i> use
                            sunscreen
                        </li>
                        <li class="list-inline-item"><i class="fas fa-seedling" style="color: #868dec;"></i> stay
                            hydrated
                        </li>
                        <li class="list-inline-item"><i class="fas fa-seedling" style="color: #868dec;"></i> eat
                            nourishes food
                        </li>
                        <li class="list-inline-item"><i class="fas fa-seedling" style="color: #868dec;"></i> sleep min
                            7h per day
                        </li>
                        <li class="list-inline-item"><i class="fas fa-seedling" style="color: #868dec;"></i> move and
                            exercise
                        </li>
                        <li class="list-inline-item"><i class="fas fa-seedling" style="color: #868dec;"></i> meditate
                            and relax
                        </li>
                        <li class="list-inline-item"><i class="fas fa-seedling" style="color: #868dec;"></i> use a
                            simple morning and evening routine
                        </li>
                        <li class="list-inline-item"><i class="fas fa-seedling" style="color: #868dec;"></i> keep skin
                            barrier in the shape
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-11">
                    <img src="{{ MEDIA_URL }}media/hydration.jpg" alt="Woman bathing in citrus water">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid pt-5 pb-5">
    <div class="row pb-2 pt-3">
        <div class="col-md-6 text-center order-1 order-md-1">
            <div class="row justify-content-center">
                <div class="col-11">
                    <h3 class="text-center pb-3"><i class="" style="color: #868dec;"></i> Way to healthy
                        skin needs only 3 simple steps:
                    </h3>
                    <hr style="height:2px;border-width:0;color:#868dec;background-color: #868dec">
                    <p> Your AM - morning routine</p>
                    <ul>
                        <li class="list-inline-item"><i class="far fa-clock" style="color: #868dec;"></i> Gentle
                            cleansing</li>
                        <li class="list-inline-item"><i class="far fa-clock" style="color: #868dec;"></i>
                            Hydrating/Moisturizing</li>
                        <li class="list-inline-item"><i class="far fa-clock" style="color: #868dec;"></i> Sun protecting
                        </li>
                    </ul>
                    <p> Your PM - evening routine</p>
                    <ul>
                        <li class="list-inline-item"><i class="fas fa-clock" style="color: #868dec;"></i> Double
                            cleansing</li>
                        <li class="list-inline-item"><i class="fas fa-clock" style="color: #868dec;"></i> Using actives
                            and exfoliants</li>
                        <li class="list-inline-item"><i class="fas fa-clock" style="color: #868dec;"></i>
                            Nourishing/Moisturizing</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-11">
                    <img src="{{ MEDIA_URL }}media/cream.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}