{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Header for Checkout Page -->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr style="height:1px; color:#868dec;background-color: #868dec">
            <h2 class="logo-font mb-4">Thank You for shopping with Us</h2>
            <hr style="height:1px; color:#868dec;background-color: #868dec">
            <p class="text-black">Your order information is below. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>

    <div class="row">
        <!-- Order Summary -->
        <div class="col-12 col-lg-7"></div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            <a href="{% url 'products' %}?category=kits,econsultation" class="btn btn-light btn-check rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-gift"></i>
                </span>
                <span class="text-uppercase">Now check out our special offers!</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}