@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-size: cover;
    background-color: black;
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Rubik', sans-serif;
}

#topnav {
    background-color: #868dec;
}

.dropdown-menu {
    background-color: #868dec;
}

.navbar {
    background-color: #868dec;
}

.dropdown-item {
    background-color: #868dec;
}

.hero {
    background: url('/media/mh.jpg') no-repeat center center;
    height: 100vh;
}

.logo {
    background-image: url('/media/logo.jpg');
    width: 50px;
    height: 50px;
}

#delivery-banner {
    background-color: #d069ca;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.3rem;
    width: 1.3rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #868dec;
    color: black;
    min-width: 260px;
    border: 2px solid white;
}

.btn-black {
    background: #d069ca;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #d069ca;
    color: black;
}

.text-black {
    color: black !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    z-index: -1;
}

a.category-badge>span.badge {
    background: #868dec !important;
    color: #fff !important;
}

a.category-badge>span.badge:hover {
    background: #d069ca !important;
    color: #fff !important;
}



/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}