@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-size: cover;
    background-color: black;
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Rubik', sans-serif;
}

#topnav {
    background-color: #868dec;
}

.dropdown-menu {
    background-color: #868dec;
}

.navbar {
    background-color: #868dec;
}

.dropdown-item {
    background-color: #868dec;
}

.hero {
    background: url('/media/mh.jpg') no-repeat center center;
    height: 100vh;
}

.logo {
    background-image: url('/media/logo.jpg');
    width: 50px;
    height: 50px;
}

#delivery-banner {
    background-color: #d069ca;
}

/* --- from Bulma style for icons --- */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.3rem;
    width: 1.3rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* --- Shop here button --- */
.shop-now-button {
    background: #868dec;
    color: black;
    min-width: 260px;
    border: 2px solid white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #d069ca !important;
    color: black;
    border: white 2px solid;
}

/* --- Decrement and Increment quantity button  --- */
.btn-qnt {
    background: #d069ca;
    border: 1px solid white;
    color: black;
}

.btn-qnt:hover,
.btn-qnt:active,
.btn-qnt:focus {
    background: #868dec;
    color: black;
    border: white 1px solid;
}

/* --- Add to bag and Checkout buttons --- */
.btn-add,
.btn-check {
    background: #868dec !important;
    color: black !important;
    border: 2px white solid;
}

.btn-add:hover,
.btn-add:active,
.btn-add:focus,
.btn-check:hover,
.btn-check:active,
.btn-check:focus {
    background: #d069ca !important;
    color: black;
    border: white 2px solid;
}

/* --- Continue shopping button --- */
.btn-outline-light {
    background: white !important;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-light:hover,
.btn-outline-light:active,
.btn-outline-light:focus {
    background: black !important;
    color: white !important;
}

.text-black {
    color: black !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    z-index: -1;
}

/* --- Badges for category products --- */
a.category-badge>span.badge {
    background: #868dec !important;
    color: black !important;
}

a.category-badge>span.badge:hover {
    background: #d069ca !important;
    color: black !important;
}

/* --- Back to the top button --- */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* --- Bootstrap toasts for messages --- */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* --- Notification preview for shopping bag --- */
/* --- from CSS-tricks.com https://css-tricks.com/snippets/css/css-triangle/ --- */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* --- Convenience classes - color copied from Bootstrap --- */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
}

/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}