<!-- Main Navigation -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Home -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!-- All Products with categories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- Actives with categories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actives
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Retinol</a>
                <a href="" class="dropdown-item">Vitamin C</a>
                <a href="" class="dropdown-item">Niacinamide</a>
                <a href="" class="dropdown-item">All Actives</a>
            </div>
        </li>
        <!-- Exfoliants with categories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exfoliants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Acids</a>
                <a href="" class="dropdown-item">Cleansers</a>
                <a href="" class="dropdown-item">All Exfoliants</a>
            </div>
        </li>
        <!-- Creams with categories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Creams
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Moisturizers</a>
                <a href="" class="dropdown-item">Sunscreens</a>
                <a href="" class="dropdown-item">All Creams</a>
            </div>
        </li>
        <!-- Offers with categories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Kits</a>
                <a href="" class="dropdown-item">E-Consultation</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>