{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Header for Wishlist Page -->
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr style="height:1px; color:#868dec;background-color: #868dec">
            <h2 class="logo-font mb-4">Your Wishlist</h2>
            <hr style="height:1px; color:#868dec;background-color: #868dec">
        </div>
    </div>
    <div class="row container">
        <div class="col">
            {% for wishlist in wishlists %}
            {% for product in wishlist.products.all %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-white">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Add</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="p-3 w-25">
                            {% if product.image %}
                            <img class="img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                            <img class="" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                            {% endif %}
                        </td>
                        <td>
                            <p class="my-0 text-light"><strong>{{ product.name }}</strong></p>
                        </td>
                        <td>
                            <p class="my-0 text-light">${{ product.price }}</p>
                        </td>
                        <td>
                            <a href="{% url 'add_review' product.id %}" class="btn btn-add rounded-0">
                                <i class="fas fa-feather-alt"></i> Review
                            </a>
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>
            {% empty %}
            <p class="lead mb-5">Looks like your wishlist is empty, if you want to save favorite products for future,,,
            </p>
            <a href="{% url 'products' %}" class="btn btn-outline-light rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Continue Shopping</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}